body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.MapView {
  padding-top: 35vh;
  padding-left: 20vh;
  display: grid;
  grid: 150px / auto auto auto;
  height: 100vh;
  width: 100%;
  background-position: center;
  background-size: cover;
  background-image: url("https://www.conceptdraw.com/How-To-Guide/picture/example-world-map-outline.png")
}

.continent {
  text-align: center;
}

.Europe {
  padding-right: 25vh;
}

.Asia {
  padding-right: 35vh;
}

.Oceania {
  padding-top: 28vh;
  padding-left: 10vh;
}

.South_America {
  padding-top: 16vh;
  padding-left: 22vh;
}

h1 {
  text-align: center;
}

h2 {
  text-align: center;
}